method/CoLA/dataset/*
*.pt
*.zip
t.py
*.png
*.pyc
.vscode/settings.json
EDA.ipynb
method/CoLA/log/
method/EDA/
common/dataset/
method/CoLA/dataset/
method/pp/
method/BiuG/
method/CoLA/tmp/
**/log/*
**/log_bp/*
**/tmp/*
**/__pycache__/*
CoLA/
method/DOMINANT/run2.sh
method/infoNCECoLA/dataset/
method/infoANEMONE/dataset/
method/zp/dataset/
method/info-SL-GAD/
.gitignore
data/*_dgld.mat
data/*_pygod.mat
data/attr-graphs
data/ogbn_arxiv
data/acm
DGLD/DGLD/data/acm
DGLD/DGLD/data/ogbn_arxiv
method/infoNCECoLA/all_log/
*/.vscode
DGLD/dataset/
